.info-icon {
    width: 35px;
    height: 35px;
    margin: 10px 10px;
    object-fit: scale-down;
}

.text-link {
    color: black;
    font-weight: bold;
    transition: color 0.2s linear;
}

.text-link:hover {
    color: #55ccff;
    text-decoration: none;
    transition: color 0.05s linear;
}
