.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-icon-bar {
    width: 550px;
    height: 120px;
}

@media (max-width: 768px) {
    .app-icon-bar {
        width: auto;
        z-index: 2;
        height: 70px;
        background-color: #55ccff;
        position: sticky;
        top: 0;
    }
}

@media (max-width: 576px) {
    .app-icon-bar {
        width: auto;
        z-index: 2;
        height: 50px;
        background-color: #55ccff;
        position: sticky;
        top: 0;
    }
}

.app-background {
    background-color: black;
    z-index: -1;
    position: fixed;
    max-height: 420px;
    object-fit: cover;
    object-position: 0% 25%;
}

.app-solid-background {
    background-color: black;
    z-index: -2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.special-font {
    font-family:  "Cabin", Times, sans-serif
}

.tab-header {
    padding: 75px 0px 150px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.theme-text-md {
    font-size: 20px;
    text-align: center;
}

.theme-text-sm {
    font-size: 16px;
    text-align: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
